.search-input{
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
}
.submit-input{
    width: 70%;
    height: 40px;
    background-color: #F1F3F4;
    border: none;
    margin-left: 20px;
    font-size: 14px;
    padding-left: 15px;
}
.submit-button{
    width: 60px;
    height: 40px;
    background-color: #108EE9;
    border: none;
    margin: 5px;
    border-radius: 3px;
}