.comment-category-wapper{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #DEE1E6;
}
.comment-category-wapper div{
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    background-color: #108EE9;
    margin: 5px;
    font-size: 12px;
    color: white;
}